@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));
@theme {
    --color-primary: #F2F2F2;
    --color-primary-soft: #ECECEC;
    --color-primary-text: #262626;

    --color-secondary: #BF212E;
    --color-secondary-soft: #F2E41B;

    --color-accent: #07732D;
    --color-accent-soft: #9FF9BE;
}
@layer theme {
  .dark {
    --color-primary: #F2F2F2;
    --color-primary-soft: #ECECEC;
    --color-primary-text: #262626;

    --color-secondary: #BF212E;
    --color-secondary-soft: #F2E41B;

    --color-accent: #07732D;
    --color-accent-soft: #9FF9BE;
  }
  .light {
    --color-primary: #F2F2F2;
    --color-primary-soft: #ECECEC;
    --color-primary-text: #262626;

    --color-secondary: #BF212E;
    --color-secondary-soft: #F2E41B;

    --color-accent: #07732D;
    --color-accent-soft: #9FF9BE;
  }
}

.dark .theme_filter {
  filter: invert(70%) sepia(45%) saturate(1384%) hue-rotate(207deg) brightness(97%) contrast(86%);
}
.theme_filter {
  filter: invert(36%) sepia(40%) saturate(2362%) hue-rotate(210deg) brightness(93%) contrast(102%);
}

.search_icon{
  pointer-events: none;
  transform: translate(-100%,0);
}